/* COLORS */
.lightgreen-bg { background-color: #92AC93; }
.blue-bg { background-color: #3D5A6C; }
.gray-bg { background-color: #808284; }
.green-bg { background-color: #1E6149; }
.yellow-bg { background-color: #C39A6B; }
.purple-bg { background-color: #33343D; }

.lightgreen-text { color: #92AC93; }
.blue-text { color: #3D5A6C; }
.gray-text { color: #808284; }
.green-text { color: #1E6149; }
.yellow-text { color: #C39A6B; }
.purple-text { color: #33343D; }